.navbar {
    z-index: 1;
    width: 100%;
    background: black;
    padding: 15px 0;
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    flex: 0 0 91px;

    .logo {
        margin-left: 29px;
    }

    .navbar-items {
        list-style: none;
        color: white;
        display: inline-flex;
        width: 90%;
        justify-content: space-evenly;
    }
}