.chart-bar-custom-tooltip {
    background-color: #E60000;
    color: white;
    font-size: 7px;
    padding: 6px;
    border: none;
    text-align: center;
    box-sizing: border-box;
}

.legend {
    color: #74798C;
    font-size: 14px;
    font-weight: 500;
}