.lateralNavbar {
    position: fixed;
    top: 91px;
    width: 117px;
    height: calc(100% - 91px);
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.lateralNavbar .section {
    height: 60%;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    flex-direction: column;
}
.lateralNavbar .copyright {
    display: flex;
    align-items: flex-end;
    height: 40%;
    padding: 12px 0 59px;
}