.chart-line-custom-tooltip {
    background-color: #FFF;
    font-size: 7px;
    padding: 1px 7px;
    border: none;
    text-align: center;
}

.chart-line-custom-legend {
    opacity: 0.5;
    font-size: 15px;
    font-weight: 500;
    color: #FFF;
    width: 80%;
}