.lateralNavbar {
    flex: 0 0 117px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .section {
      height: 60%;
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      flex-direction: column;
    }
    .copyright {
      display: flex;
      align-items: flex-end;
      height: 40%;
      padding: 12px 0 59px;
    }
  }